.navbar{
  background-color:#2c3e50;
}


.navbar .active {
    background-color: #1abc9c;
}

footer .footer {
    background-color: #2c3e50;
    color: #fff;
    justify-content: center;
    text-align: center;
    padding: 40px;
    margin: 0;
}



footer .card-group{
    background-color: transparent !important;
}

.card {
  background-color: transparent !important;
  color: #fff !important;
}

.icon {
    border: 1px white solid;
    border-radius: 50%;
    padding: 10px;
}


.p {
    background-color: #1a252f;
    padding: 10px;
}

.home {
    background-color:#1abc9c;
}

.line {
  background-color: #fff;
    height: 4px;
    width: 80px;
}

h3{
    padding-top: 20px;
}


.home img
 {
    width: 250px;
}


.about {
    background-color: #1abc9c;
}

.portfolio{
    margin-top: 5rem;
}


.portfolio .layer {
    background-color: #1abc9ce6;
    opacity: 0;
    cursor: pointer;
    transition: .6s opacity;
}

.portfolio .layer:hover{
  opacity: 1;
}

form .topLabel
 {
    top: 40px !important;
}

form label{
    color: #1abc9c;
    margin-bottom: 7px;
    transition: .6s top;
}

input.form-contro:focus

 {
    box-shadow: none;
}

form button.btn{
  background-color: #1abc9c;

}

.model{
    z-index: 99999;
}